.top-navbar-donations {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #d41d1d;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: #ffa30d;
}
.logo-image {
  width: 150px;
}
.main-page-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 120vh;
}
h1 {
  font-size: 60px;
  color: #f5deb3;
}
#main-donate-button {
  margin-top: 20px;
  width: 200px;
  cursor: pointer;
  background-color: #ffa30d;
  border: none;
  /* height: 35px; */
  border-radius: 5px;
  color: #b11e1e;
  font-size: 25px;
  /* font-family: Bright; */
  padding: 8px;
}
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-product {
  width: 500px;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.crsl {
  width: 50%;
  margin: auto;
}
.carousel-status {
  visibility: hidden;
}
.thumbs {
  visibility: hidden;
}
