body{
  background-color: #454500;
}
.top-navbar-donations {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: wheat;
  font-family: Daydream;
  font-size: 25px;
}
.logo-image {
  width: 150px;
}
.page-link{
  font-family: Daydream;
  font-size: 25px;
}
